@import '../app/app.scss';

.feed {
  display: flex;
  flex-direction: column;
  margin: 4px auto;
  width: 50%;
}

.placeholder {
  margin: 4px auto;
  width: 40%;
  text-align: center;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid $color-yellow;
  padding: 10px;
}

@media (max-width: 767px) {
  .feed {
    width: 80%;
  }
}
